/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #ccc;
  min-height: 100%;
  background-image:url("https://preview.ibb.co/kj4SHG/background_2.jpg");
}

.input-group {
  margin-bottom: 15px;
}

html
{
	height: 100%;
}
