.card-img-top{
 float:left;
}

.card{
	background-color: darkgray;

}

.rounded {
    border-radius: .25rem;
    margin-left: 200px;
    margin-top: 49px;
}

img {
    vertical-align: super;
    border-style: solid;
}

.card-img-top{
	height:30%;
	 width: 100%;
    float: right;
}

.card-header{
	background-color: #31b0d5;
}
.card-title {
    margin-bottom: .75rem;
    align-content: right;
    float: right;
    padding-right: 30px;
    margin-right: 250px;
    padding-top: 50px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: right;
    margin-top: 150px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 10%;
    z-index: 25;
    width: 60%;
    padding-left: 0;
    margin-left: 10%;
    text-align: center;
    list-style: none;
}
.carousel {
    position: relative;
    margin-bottom: 40px;
}